set -e

{{#terraformImage}}
echo 'using image {{terraformImage}}'
{{/terraformImage}}

rm -rf module || true

{{#gitRepositoryUrl}}
echo 'cloning {{gitRepositoryUrl}}' | awk '{ sub(/oauth2:(.*)@/, "oauth2:[MASKED]@");}1'
git clone -b {{gitBranch}} {{gitRepositoryUrl}} module
cd module
{{/gitRepositoryUrl}}

{{#localDirectory}}
cd {{localDirectory}}
{{/localDirectory}}

{{#gitDirectory}}
    cd {{gitDirectory}}
{{/gitDirectory}}

echo 'generating backend configuration'
echo 'terraform {
    backend "http" {
        address = "{{externalUrl}}/api/state/{{stackId}}"
        username = "{{stateApiUser}}"
        password = "{{stateApiPassword}}"
    }
}' > backend.tf

terraform version
terraform init
{{&command}}